/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

/* Color palette we're using is: https://coolors.co/5722cd-4b49e8-f2f0ff-ed4385-0c0c0c */


/* ------------------------------- 2. Typography ----------------------------------- */
/* We will be using the following fonts:
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
 */

h1,
h2,
h3,
h4 {font-family: 'Merriweather', serif;

}

p{
    font-family: 'Roboto', sans-serif;
}


/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */